<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>

<body>
    <h1><%= poke.name %></h1>
    <a href="/">&lt;-- Volver</a>
    <p>Nivel: <%= poke.level %></p>
    <p>tipo: <%= poke.type %></p>
    <br>
    <hr>
    <br>
    <h3>Notas</h3>
    <form action="/notes/create" method="POST">
        <input type="hidden" name="pokemonId" value="<%= poke.id %>">
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name">
        </div>
        <br>
        <div>
            <label for="content">Nota:</label>
            <input type="text" id="content" name="content">
        </div>
        <br>
        <button>Añadir Nota</button>
    </form>
    <br>
    <% notes.forEach((note) => { %>
        <div>
            <%= note.name %>
            <br>
            <%= note.content %>
        </div>
        <hr>
    <% }); %>
</body>


</html>



